.wrapper {
  background-image: url(../../assets/backgrounds/background-destination-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  height: auto;
  width: 100dvw;
}
.container {
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.text {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}

.textColor {
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.25;
  margin-right: 18px;
}

.infoCard {
  padding-block: 32px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.planetButtons {
  display: flex;
  flex-direction: row;
  gap: 27px;
  margin-block: 26px 20px;
}
.image {
  width: 170px;
  height: 170px;
}
.header {
  font-family: "Bellefair";
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  text-transform: uppercase;
}
.list {
  display: flex;
  gap: 32px;
  flex-direction: column;
}
.listItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.description {
  font-family: "Barlow";

  font-size: 15px;
  line-height: 25px;

  color: #d0d6f9;
}
.button {
  color: #d0d6f9;
  text-transform: uppercase;
  font-family: "Barlow Condensed";
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2.3625px;
}

.active {
  color: #fff;
  text-transform: uppercase;
  border-bottom: none;

  font-family: "Barlow Condensed";
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2.3625px;
}

.active::after {
  content: "";
  display: block;
  margin-top: 8px;
  width: 100%;
  height: 1px;
  border-bottom: 3px #fff solid;
}

.divider {
  width: 327px;
  height: 1px;
  margin-block: 32px;

  background: #383b4b;
}
.listDesc {
  font-family: "Barlow Condensed";
  font-size: 14px;
  line-height: 17px;

  text-align: center;
  letter-spacing: 2.3625px;
  text-transform: uppercase;
  margin-bottom: 12px;

  color: #d0d6f9;
}
.listValue {
  font-family: "Bellefair";

  font-size: 28px;
  line-height: 32px;

  text-align: center;
  text-transform: uppercase;
}
